<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaosw.api">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application>

        <meta-data android:name="APP_BASE_DP" android:value="@dimen/base_dp" />
        <meta-data android:name="APP_BASE_DP_BY_WIDTH" android:value="true"/>
        <meta-data android:name="APP_BASE_DP_ENABLE" android:value="true"/>
        <meta-data android:name="AUTO_UNREGISTER_ACTIVITY_RECEIVER" android:value="true"/>
        <meta-data android:name="ACTIVITY_NOT_REGISTER_ENABLE" android:value="true"/>

        <activity android:name=".proxy.StandardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:enabled="true"
            android:exported="false"/>

        <activity android:name=".proxy.SingleTopActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:enabled="true"
            android:exported="false"/>

        <activity android:name=".proxy.SingleTaskActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:enabled="true"
            android:exported="false"/>

        <activity android:name=".proxy.SingleInstanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleInstance"
            android:enabled="true"
            android:exported="false"/>

        <provider
            android:authorities="${applicationId}.androidx-startup"
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            tools:node="merge">

            <meta-data android:value="androidx.startup"
                android:name="com.xiaosw.api.init.AppInitializer"/>

        </provider>

    </application>

</manifest>
